/* GENERAL CSS */
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);

body{
  font-family: 'Lato', sans-serif;
  color: #000;
}
.paddingTop-01{
  padding-top: 1%;
}

.paddingTop-02{
  padding-top: 2%;
}

.paddingTop-03{
  padding-top: 3%;
}

.paddingTop-05{
  padding-top: 5%;
}

.paddingTop-1{
  padding-top: 10%;
}

.paddingTop-2{
  padding-top: 20%;
}

.paddingTop-3{
  padding-top: 30%;
}

.center-text{
  text-align: center;
}

.center-block{
  margin: 0 auto;
  float: none;
}

/* NAVBAR CSS */

  .logo-img{
    max-width: 250px;
    margin-top: -10px;
  }

  .navbar{
    min-height: 70px;
    margin-bottom: 0;
    border: 0;
    background: #fff;
  }

  .navbar-default .navbar-nav > li{
    min-height: 70px;
  }

  .navbar-default .navbar-nav > li > a{
    margin-top: 10px;
    color: #000;
    font-size: 16px;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
  }

  .navbar-default .navbar-nav > li > a:hover{
    color: #fff;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
  }


  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
    background: #4dd029;
    color: #fff;
  }

  .dropdown-menu > li > a{
    font-size: 16px;
  }

  .dropdown-menu > li > a:hover{
    color: #fff;
    transition: color .3s ease-in-out;
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
  }

  .hvr-sweep-to-bottom:before{
    background: #4dd029;
  }

  .hvr-sweep-to-right:before{
    background: #4dd029;
  }




.carousel-control.left, .carousel-control.right{
  background-image: none;
}

.carousel{
  margin-top: 70px;
}

/* FOUR SEASON SQUARES */

.sqr-title{
  font-size: 20px;
  font-weight: 100;
}

.slogan{
  padding: 65px 0;
  background: #4dd029;
}

.sloganH1{
  color: #fff;
  padding-left: 10%;
}

.btn-1{
  border: 1px solid #fff;
  border-radius: 0;
  background: transparent;
  padding: 15px 50px;
  color: #fff;
  font-size: 18px;
  font-weight: 100;
  transition: background .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out, color .3s ease-in-out;
}

.btn-1:hover{
  border: 1px solid #fff;
  border-radius: 0;
  background: #fff;
  padding: 15px 50px;
  color: #55a23f;
  font-size: 18px;
  font-weight: 100;
  transition: background .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: background .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background .3s ease-in-out, color .3s ease-in-out;
}


